// 颜色
// $color-gray-white: #F3F4F6;
// $color-gray: #9CA3AF;
// $color-gray-light: #374151;
$color-white: #f8f8f8;
$color-black: #333333;
$color-red: #ef4444;
$color-blue: #1778f2;
$color-gray-white: #f2f2f2;

// 圆角
$radius: 0.5rem;

// 内容居中
.my-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}